*~
*.bak
*.o
rootfs.img
disk/
extra/
busybox-*/
initramfs/.tmp/
initramfs/rootfs.tar.bz2
initramfs/yocto/bitbake-cookerdaemon.log
initramfs/ubuntu/ubuntu_prebuild.info
tools/adckey/adckey
initramfs/yocto/*/conf/templateconf.cfg
initramfs/yocto/*/conf/conf-notes.txt
initramfs/yocto/locked-sigs.inc
initramfs/yocto/rootfs_path
initramfs/yocto/bbfile.md5*
initramfs/prebuilt/vip9000sdk*
initramfs/prebuilt/vip9000sdk/*
initramfs/ubuntu/prebuilt-app-*
initramfs/ubuntu/prebuilt-app-*/**
initramfs/ubuntu/ubuntu-*/ubuntu-*
