if [ 1 -eq 1 ];then
echo "******* resize2fs the mmcblk0p7 ****************"
ROOTFS_PART=/dev/mmcblk0p7
RESIZE=resize2fs
if [ ! -b $ROOTFS_PART ];then
	echo "not available"
else
	if [ ! -a $RESIZE ];then
		echo "not available"
	else
		$RESIZE $ROOTFS_PART
	fi
fi

else

OVER_LIST="/bin /etc /lib /sbin /usr /var"

RW_PART=/dev/mmcblk0p8
RW_FS=ext2
RW_DIR=/overlay

echo "Mount RW partition..."

if [ ! -b $RW_PART ];then
	echo "not available"
else
	mount -t $RW_FS $RW_PART $RW_DIR 2>/dev/null
	if [ $? -ne 0 ];then
		echo "*** Initialize partition ($RW_PART) to $RW_FS ***"
		mkfs.ext2 $RW_PART
		mount -t $RW_FS $RW_PART $RW_DIR
	fi

	if [ $? -ne 0 ];then
		echo "failed to mount RW partition!"
	else
		for ov in $OVER_LIST ;
		do
			[ ! -d ${RW_DIR}${ov} ] && mkdir -p ${RW_DIR}${ov} ${RW_DIR}${ov}_w

			if [ -d ${RW_DIR}${ov} ];then
				mount -t overlay overlay -o noatime,lowerdir=${ov},upperdir=${RW_DIR}${ov},workdir=${RW_DIR}${ov}_w ${ov}
			fi
		done
	fi
fi
fi
