[Unit]
Description=Resize partition to maximum size
After=systemd-networkd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/resize-partition
ExecStart=/usr/bin/resize_partition.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
