[Unit]
Description=Resize partition to maximum size
After=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/resize-partition
ExecStart=/usr/bin/resize_partition.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
